.MainCSS {
  background-color: #F8FBF4;
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
  color: #27416D;
  /*height: 100vh;*/
}

.LoginPageBg {
  background-color: #DCECCB;
  color: #507e1f;
  height: 100vh;
  font-family: 'Montserrat';
}

.LoginInput::placeholder{
  font-weight: 500;
  white-space: nowrap;
}

.LoginInput{
  z-index: 30;
  outline: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../public/font/static/Montserrat-Light.ttf");
}

.MenuCSS{
  color: #507e1f;
  font-weight: 600;
  font-family: 'Montserrat';
}

