.MainCSS {
  background-color: #F8FBF4; 
  display: flex;  
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat';
  /*height: 100vh;*/
}

.LoginPageBg {
  background-color: #DCECCB;
  color: #507e1f;
  height: 100vh;
}

.LoginInput::placeholder{
  font-weight: 500;
  white-space: nowrap;
}

.LoginInput{
  z-index: 30;
  outline: none;
  font-weight: 600;
  width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../public/font/static/Montserrat-Light.ttf");
}

.MenuCSS{
  color: #507e1f;
  font-weight: 600;
}

.MyPageEditInput{
  background-color: #F8FBF4;
  border-radius: 30px;
  width: 70%;
  height: 53px;
  padding: 3px;
  padding-left: 15px;
  outline: none;
}

.Try{
  width: 150px;
  height: 200px;
  background-color: red;
  position: absolute;
  
}

.MainSliderCSS {
  max-width: 650px;
}

.DetailSliderCSS {
  max-width: 512px;
}

.SearchInputCSS {
  border: 1px solid transparent;
  outline: none;
}

.SearchInputCSS:focus {
  border: 1px solid gray;
}