.MainCSS {
  background-color: #F8FBF4;
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
  font-family: 'Montserrat';
  /*height: 100vh;*/
}

.LoginPageBg {
  background-color: #DCECCB;
  color: #507e1f;
  height: 100vh;
}

.LoginInput::placeholder{
  font-weight: 500;
  white-space: nowrap;
}

.LoginInput{
  z-index: 30;
  outline: none;
  font-weight: 600;
  width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../public/font/static/Montserrat-Light.ttf");
}

.MenuCSS{
  color: #507e1f;
  font-weight: 600;
}

.MyPageEditInput{
  background-color: #F8FBF4;
  border-radius: 30px;
  width: 70%;
  height: 53px;
  padding: 3px;
  padding-left: 15px;
  outline: none;
}

.CheckSameBefore{
  background-color: white;
  border-width: 1px;
  border-color: #DCECCB;
  border-radius: 20px;
  color: #507e1f;
  padding: 3px;
  font-size: small;
}

.CheckSameAfter{
  background-color: rgb(244 244 245 / var(--tw-bg-opacity));;
  border-radius: 20px;
  color: rgb(161 161 170 / var(--tw-bg-opacity));
  padding: 3px;
  font-size: small;
}